4VZotQSZwEBfNLq8.json
{
  "active": false,
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-24T05:15:03.452Z",
  "id": "4VZotQSZwEBfNLq8",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "userIds": "5759568708"
        }
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "67f1d1f9-2687-46a5-bfab-df460135cedb",
      "name": "Telegram Trigger",
      "webhookId": "1e374348-eec1-4b59-9ffd-f6a368aa105c",
      "credentials": {
        "telegramApi": {
          "id": "LRnZShopL4vT8OXE",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        208,
        0
      ],
      "id": "767fab4b-5692-4a84-9798-9d5769045682",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-3-5-sonnet-20241022",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 3.5 (New)"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        208,
        208
      ],
      "id": "37c5b1fb-732d-4905-8435-d2b25dfdb6d0",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "jTfFEd3YOZ5fdQZ1",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        592,
        0
      ],
      "id": "f6aa32a3-a354-4f00-bd3b-d8f70028b67d",
      "name": "Send a text message",
      "webhookId": "f5242c4e-871f-49ca-8d0e-19c0f7ee9b18",
      "credentials": {
        "telegramApi": {
          "id": "LRnZShopL4vT8OXE",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        336,
        208
      ],
      "id": "39109909-9147-4f57-8b00-9737a313d843",
      "name": "Simple Memory"
    }
  ],
  "origin": "n8n",
  "pinData": {
    "Telegram Trigger": [
      {
        "json": {
          "update_id": 381041296,
          "message": {
            "message_id": 3,
            "from": {
              "id": 5759568708,
              "is_bot": false,
              "first_name": "Owais",
              "last_name": "Ahmed",
              "username": "owais5514",
              "language_code": "en"
            },
            "chat": {
              "id": 5759568708,
              "first_name": "Owais",
              "last_name": "Ahmed",
              "username": "owais5514",
              "type": "private"
            },
            "date": 1753334182,
            "text": "hello"
          }
        }
      }
    ],
    "AI Agent": [
      {
        "json": {
          "output": "Hi! How can I help you today?"
        }
      }
    ],
    "Send a text message": [
      {
        "json": {
          "ok": true,
          "result": {
            "message_id": 4,
            "from": {
              "id": 7273703210,
              "is_bot": true,
              "first_name": "N8N",
              "username": "n8n_on_render_bot"
            },
            "chat": {
              "id": 5759568708,
              "first_name": "Owais",
              "last_name": "Ahmed",
              "username": "owais5514",
              "type": "private"
            },
            "date": 1753334379,
            "text": "Hi! How can I help you today?\n\nThis message was sent automatically with n8n",
            "entities": [
              {
                "offset": 31,
                "length": 41,
                "type": "italic"
              },
              {
                "offset": 72,
                "length": 3,
                "type": "text_link",
                "url": "https://n8n.io/?utm_source=n8n-internal&utm_medium=powered_by&utm_campaign=n8n-nodes-base.telegram_be26139382e6407f196bf9513ba0153669bd4288b823205a5f4cf2d4966cacbe"
              }
            ],
            "link_preview_options": {
              "is_disabled": true
            }
          }
        }
      }
    ]
  },
  "repo": {
    "owner": "Owais5514",
    "name": "n8n-xane-backup"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-07-24T05:24:53.000Z",
  "versionId": "0c97c73c-6618-4c49-8204-2064a4fb6086"
}